@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.Toastify__toast-body {
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 20px;
  padding: 9px 12px;
  width: 100%;
  font-weight: 400;
}

.Toastify__toast {
  min-height: 40px;
  border-radius: 8px;
  padding: 0;
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.Toastify__toast > button > svg {
  display: none;
}

.Toastify__toast-container {
  width: max-content;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container--top-center {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .Toastify__toast-body {
    font-size: 12px;
  }

  .Toastify__toast-icon {
    width: 14px;
    margin-inline-end: 4px;
  }
}
